@
# Build artifacts
*.exe
*.o
obj/

# OS files
.DS_Store
Thumbs.db

# Test/Source files to ignore if needed
*.iqm
*.glb
*.fbx
*.cfg
*.skin
*.tga
!CONVERT.bat
MP_PadPork_source
bigvic_iqm
bigvic_skp
Bobot